global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: false
  debug: false
  insecure: false

ping: {}

log:
  level: {{ traefik_log_level }}
  format: json

accessLog:
  format: json

providers:
  swarm:
    # https://doc.traefik.io/traefik/providers/swarm/#docker-api-access
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: traefik-public
    watch: true
  file:
    directory: /etc/traefik/dynamic
    watch: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"

metrics:
  prometheus:
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true