services:
  vault:
    image: hashicorp/vault:{{ vault_image_tag }}
    command: server
    environment:
      VAULT_ADDR: "http://127.0.0.1:{{ vault_port }}"
      VAULT_LOCAL_CONFIG: |
        {
          "storage": {
            "raft": {
              "path": "/vault/file",
              "node_id": "{{ vault_raft_node_id }}"
            }
          },
          "listener": [
            {
              "tcp": {
                "address": "0.0.0.0:{{ vault_port }}",
                "tls_disable": true,
                "telemetry": {
                  "unauthenticated_metrics_access": true
                }
              }
            }
          ],
          "telemetry": {
            "prometheus_retention_time": "60s",
            "disable_hostname": true
          },
          "default_lease_ttl": "{{ vault_default_lease_ttl }}",
          "max_lease_ttl": "{{ vault_max_lease_ttl }}",
          "ui": true,
          "api_addr": "https://{{ vault_domain }}",
          "cluster_addr": "https://{{ vault_domain }}:8201",
          "disable_mlock": true
        }
    volumes:
      - vault_data:/vault/file
    networks:
      - traefik-public
      - grafana-internal
    ports:
      - "127.0.0.1:{{ vault_port }}:{{ vault_port }}/tcp"
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.vault.rule=Host(`{{ vault_domain }}`)"
        - "traefik.http.routers.vault.entrypoints=websecure"
        - "traefik.http.routers.vault.tls=true"
        - "traefik.http.services.vault.loadbalancer.server.port={{ vault_port }}"
        - "traefik.swarm.network=traefik-public"
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 5
      update_config:
        order: stop-first
      rollback_config:
        order: stop-first

volumes:
  vault_data:
    name: vault_data

networks:
  traefik-public:
    external: true
  grafana-internal:
    external: true
