# {{ ansible_managed }}
network:
  version: 2
  renderer: networkd
  ethernets:
    {{ set_netplan_interface }}:
      dhcp4: {{ set_netplan_dhcp }}
      addresses:
        - {{ set_netplan_ip_address }}/{{ set_netplan_subnet_mask }}
      routes:
        - to: default
          via: {{ set_netplan_gateway }}
      nameservers:
        addresses: {{ set_netplan_dns_servers | to_json }}