services:
  postgres:
    image: postgres:{{ postgres_image_tag }}
    environment:
      POSTGRES_USER: {{ postgres_user }}
      POSTGRES_PASSWORD: {{ postgres_password }}
      POSTGRES_INITDB_ARGS: "--auth-local=scram-sha-256 --auth-host=scram-sha-256"
      POSTGRES_HOST_AUTH_METHOD: "scram-sha-256"
    volumes:
      - postgres_data:/var/lib/postgresql
      - {{ postgres_data_path }}/init-scripts:/docker-entrypoint-initdb.d:ro
    networks:
      - postgres-internal
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ postgres_user }}"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      placement:
        constraints:
          - node.hostname == {{ groups['db'][0] }}
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 5

volumes:
  postgres_data:

networks:
  postgres-internal:
    external: true